#header {
    background-color: #15161D !important;
    border-radius: 0;
    margin-bottom: 100px;
}

.navbar {
    border-radius: 0 !important;
    background-color: #15161D !important;
}

.navbar-brand {
    color: #FFF !important;
}

.nav-item a {
    font-size: 1.5em !important;
}

.custom-brand-label {
    color: #FFF;
    margin-top: 5px;
}